<button type="button" class="btn btn-default" aria-label="Left Align" ng-click="setMapStyle('default')">
    Default
</button>
<button type="button" class="btn btn-info" aria-label="Left Align" ng-click="setMapStyle('light')">
    Light
</button>
<button type="button" class="btn btn-warning" aria-label="Left Align" ng-click="setMapStyle('dark')">
    Dark
</button>

<input type="text" ng-model="fromLocation">
<input type="text" ng-model="toLocation">
<button type="button" class="btn btn-success" ng-click="doSearchDrivingPath()">
    search
</button>
<p></p>
<div id="mapContainer" class="map"></div>
<div id="panel"></div>


<style type="text/css">
    #panel {
        position: fixed;
        background-color: white;
        max-height: 90%;
        overflow-y: auto;
        top: 10px;
        right: 10px;
        width: 280px;
    }
</style>